<link rel="stylesheet" href="/css/home.css">

<!-- <div class="card">
    <div class="card-top">
        <span class="habit">Workout</span>
        <span class="time">10:00 PM</span>
    </div>
    <div class="card-middle">
        <input type="radio">
        <span class="material-symbols-outlined">
        favorite
        </span>
    </div>
    <div class="card-bottom">
        <span class="days">1 Days</span>
        <span class="best">6 Best</span>
        <span class="out-of">10/34</span>
        <span class="repeat">Daily</span>
    </div>
</div> -->

<script src="/js/home.js"></script>