<link rel="stylesheet" href="/css/week_view.css">

<div class="calendar">
    <span class="material-symbols-outlined">
    chevron_left
    </span>
    <span class="month">
        <!-- October 2022 -->
    </span>
    <span class="material-symbols-outlined">
    chevron_right
    </span>
</div>

<div class="week-days">
    <!-- <span>MON</span>
    <span>TUE</span>
    <span>WED</span>
    <span>THU</span>
    <span>FRI</span>
    <span>SAT</span>
    <span>SUN</span> -->
</div>

<!-- <div class="habit-container">
    <div>
        <span class="habit">Workout</span>
        <span class="time">10:00 PM</span>
        <span class="out-of">65/100</span>
        <span class="material-symbols-outlined">
        favorite
        </span>
    </div>
    <div class="daily-status">
        <span>1<span class="material-symbols-outlined">
            done
            </span></span>
        <span>2<span class="material-symbols-outlined">
            close
            </span></span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>7</span>
    </div>
</div> -->

<script src="/js/details.js"></script>
