* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  line-height: 0;
}

html {
  background-color: gray;
}

#container {
  max-width: 30rem;
  min-height: 100vh;
  margin: auto;
  background-color: #e1e1e1;
}

#container header {
  display: flex;
  background-color: #b9b9b9;
  padding: .5rem 0;
  border-bottom: 1px solid black;
}

#container header * {
  margin: 0 .5rem;
  cursor: pointer;
}

#container header .heading {
  flex-grow: 1;
  font-weight: 500;
}

#container #body {
  display: flex;
  flex-direction: column;
}

.fav-on {
  font-variation-settings: 'FILL' 1;
}
